<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Chemease</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <!-- Apply flexbox to the body -->
    @{
        var logo = "36px";
        var pageBtn = "20px";
        var space = "50px";
    }
    <header style="background-color: darkblue; color: white; padding: 8px; display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center; margin-right: 20px;">
            <h1 style="margin: 0; font-size: @logo;">Chemease</h1>
        </div>
        <div style="flex-grow: 1; text-align: left;">
            <span style="margin-right: @space;">&nbsp;</span>
            <a href="~/Home/AboutUs" style="color: white; text-decoration: none; margin-right: 20px; font-size: @pageBtn; transition: color 0.3s;" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">About Us</a>
            <span style="margin-right: @space;">&nbsp;</span> 
            <a href="~/Home/Contact" style="color: white; text-decoration: none; margin-right: 20px; font-size: @pageBtn; transition: color 0.3s;" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">Contact</a>
            <span style="margin-right: @space;">&nbsp;</span> 
            <a href="~/Home/Shop" style="color: white; text-decoration: none; margin-right: 20px; font-size: @pageBtn; transition: color 0.3s;" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">Shop</a>
            <span style="margin-right: @space;">&nbsp;</span>  
            <input type="text" placeholder="Search..." style="padding: 5px; border-radius: 5px; border: 1px solid #ccc; margin-right: 40px; width: 300px;">
            <span style="margin-right: @space;">&nbsp;</span>
            <a href="~/Home/Cart" style="color: white; text-decoration: none; font-size: @pageBtn; transition: color 0.3s;" onmouseover="this.style.color='yellow'" onmouseout="this.style.color='white'">Cart</a>
        </div>
    </header>


    <div class="container" style="flex: 1;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:darkblue;color:white;text-align:center;">
        <div class="container">
            AST Enterpises Limited
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
