@{
    ViewData["Title"] = "Guidebook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fh5co-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Product Guides</h2>
            </div>
        </div>
        <div class="row">
            <!-- Product 1 Guide -->
            <div class="col-md-4">
                <h3>Product 1 Guide</h3>
                <div class="thumbnail">
                    <a href="path_to_product1_guide_pdf" target="_blank">
                        <img src="path_to_product1_thumbnail_image" alt="Product 1 Guide">
                    </a>
                </div>
            </div>

            <!-- Product 2 Guide -->
            <div class="col-md-4">
                <h3>Product 2 Guide</h3>
                <div class="thumbnail">
                    <a href="path_to_product2_guide_pdf" target="_blank">
                        <img src="path_to_product2_thumbnail_image" alt="Product 2 Guide">
                    </a>
                </div>
            </div>

            <!-- Product 3 Guide -->
            <div class="col-md-4">
                <h3>Product 3 Guide</h3>
                <div class="thumbnail">
                    <a href="path_to_product3_guide_pdf" target="_blank">
                        <img src="path_to_product3_thumbnail_image" alt="Product 3 Guide">
                    </a>
                </div>
            </div>

            <!-- Add more product guides as needed -->
        </div>
    </div>
</div>
