@{
    ViewData["Title"] = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="fh5co-main">
    <div class="fh5co-narrow-content animate-box" data-animate-effect="fadeInLeft">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2 class="fh5co-heading">Testimonials</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;ChemEase has provided us with top-notch laboratory equipment. Their products are of high quality and have greatly enhanced our research.&rdquo;</p>
                        <p class="author">- John Doe</p>
                    </blockquote>
                </div>
                <div class="testimonial">
                    <blockquote>
                        <p>&ldquo;I highly recommend ChemEase to anyone in need of reliable laboratory instruments. Their customer service is exceptional.&rdquo;</p>
                        <p class="author">- Jane Smith</p>
                    </blockquote>
                </div>
                <!-- Add more testimonials as needed -->
            </div>
        </div>
    </div>
</div>
